.banner{
    background-image: url("http://kyorkis.pythonanywhere.com/static/img/banner_method_gp_2000.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}